<!DOCTYPE html>
<html lang="en">

  <head>
    <% include ./partials/head.ejs %>
  </head>

  <body>

    <% include ./partials/navbar.ejs %>

    <section class="row text-center">

      <section class="col-lg-4">
        <h4 class="card-title">About Us</h4>
        <p class="card-text">Bloccit is a community of people who want to share their thoughts on a large variety of topics, with others around the globe.</p>
      </section>

    </section>

    <% include ./partials/baseScripts.ejs %>

  </body>
</html>

